<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workaudio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".libraries.hilt.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo4"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkAudIo">
        <activity
            android:name=".presentation.player.PlayerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.workoutMainList.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />


        <meta-data
            android:name = "clientId"
            android:value = "${SPOTIFY_CLIENT_ID}"/>

    </application>

</manifest>